#avatar {
  border-radius: 50%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  text-align: center;
}

th {
  background-color: rgb(241, 241, 242);
}

tr th {
  background-color: rgb(112, 173, 71);
}

tr:nth-child(even) {
  background-color:  rgb(217, 217, 217);
}